name: Documentation

on:
  push:
    branches:
      - master
      - actions/trigger/docs
    tags: '*'
  pull_request:

jobs:
  Documenter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1.3
      - name: Install Run.jl
        run: julia -e 'using Pkg; pkg"add https://github.com/tkf/Run.jl"'
      - name: Install dependencies
        run: julia -e 'using Run; Run.prepare_docs()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
        run: julia -e 'using Run; Run.docs()'
