name: Run multi-thread benchmarks

on:
  pull_request:

jobs:
  Benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1.4
      - run: "false"
      - name: Install dependencies
        run: julia -e 'using Pkg; pkg"add PkgBenchmark https://github.com/tkf/BenchmarkCI.jl"'
      - name: Run benchmarks
        run: julia -e '
          using PkgBenchmark, BenchmarkCI;
          BenchmarkCI.judge(
            PkgBenchmark.BenchmarkConfig(env = Dict("JULIA_NUM_THREADS" => "2"));
            script = "benchmark/multi-thread/benchmarks.jl",
            project = "benchmark",
          );
          '
      - name: Push results
        run: julia -e '
          using BenchmarkCI;
          BenchmarkCI.pushresult(;
              title = "Multi-thread benchmark result",
              url = "git@github.com:JuliaFolds/Transducers-data.git",
              branch = "multi-thread-benchmark-results",
          );
          '
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SSH_KEY: ${{ secrets.DATA_SSH_KEY }}
