name: pkg-update

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.2.0]
        julia-arch: [x86]
        os: [ubuntu-latest]
    steps:
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}

      - uses: actions/checkout@v1
      - name: Update test/Manifest.toml
        run: julia --project=test -e "import Pkg; Pkg.update()"
      - name: Update docs/Manifest.toml
        run: julia --project=docs -e "import Pkg; Pkg.update()"

      # https://github.com/marketplace/actions/create-pull-request
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v1.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_MESSAGE: Update */Manifest.toml
          PULL_REQUEST_TITLE: '[AUTO] Update */Manifest.toml'
          PULL_REQUEST_LABELS: no changelog
          PULL_REQUEST_BRANCH: create-pull-request/pkg-update
          BRANCH_SUFFIX: none
      - name: Check output environment variable
        run: echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
