name: Run test via Pkg.test()

on:
  push:
    branches:
      - master
    paths:
      - test/environments/main/Project.toml
  pull_request:
    paths:
      - test/environments/main/Project.toml

jobs:
  vanilla-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: 1.3
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
